*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/wp2817045.jpeg) ;
}
.conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
}
.main__left{
    height: 800px;
}
.pages__link__1,
.img__button__1__1{
    width: 50px;
}
.img__button__1__1:hover{
    opacity: 0.8;
    padding: 5px;
    background-color: #FF4500;
    border-radius: 20px;
}
.pages__link__1:hover{
    opacity: 0.8;
    padding: 5px;
    background-color: #FF4500;
    border-radius: 20px;
}
.pages__link{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    background-color: #212121;
    padding: 20px 20px;
    border-radius: 15px;
    // height: 530px;
    // width: 140px;
}
.main__center{
    width: 1200px;
    height: 660px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212121;
    padding: 0 100px;
    border-radius: 15px;
}
.main__center__img__1{
    width: 340px;
    height: 560px;
    border-radius: 15px;
}

.main__center__info__offer__1{
    font-weight: 400;
    font-size: 23px;
    opacity: 0.7;
    color: #fff;
}
.main__center__info{
    text-align: center;
    margin-bottom: 60px;
}
.main__center__info__name__1{
    font-weight: 600;
    font-size: 53px;
    color: #fff;
}
.main__center__info__under{
    padding-top: 10px;
}
.main__center__info__under__1{
    font-weight: 800;
    font-size: 33px;
    color: #FF4500;
    
}
.main__center__info__offer{
    margin-bottom: 20px;
}
.main__center__info__name{
    padding-top: 20px;
}
.main__center__info__text{
    width: 570px;
    height: 128px;
    padding-top: 20px;
    color: #fff;
    margin-bottom: 50px;
}
.main__center__info__text__1{
    font-weight: 400;
    font-size: 20px;
    opacity: 0.7;
    line-height: 28px;
    width: 470px;
    height: 128px;
}
.main__center__info__button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin: 0 auto;
    padding-top: 30px;
    
}
.main__center__info__button__left__1,
.main__center__info__button__right__1{
text-decoration: none;
color: white;
background-color:  #FF4500;;
padding: 10px 10px;
border-radius: 8px;
}

.main__center__info__button__left__1:hover{
    opacity: 0.8;
    
}
.main__center__info__button__right__1:hover{
    opacity: 0.8;
    
}
.img__button{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 330px;
    width: 140px;
    background-color: #212121;
    padding: 20px 20px;
    margin-top: 100px;
    // border-radius: 15px;
}
.img__button__1,
.img__button__2,
.img__button__3{
text-decoration: none;
color: #fff;
font-weight: 800;
font-size: 23px;
text-align: center;
}
.main__right{
    background-color: #212121;
    height: 530px;
    width: 140px;
    border-radius: 15px;
}

@media(max-width:400px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body{
        background-image: url(../images/wp2817045.jpeg) ;
    }
    .conteiner{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .main__left{
        height: 300px;
        width: 400px;
        margin: 0 auto;
    }
    
    .img__button__1__1{
        width: 50px;
    }
    .pages__link__1{
      width: 30px;
    }
    .img__button__1__1:hover{
        opacity: 0.8;
        padding: 5px;
        background-color: #FF4500;
        border-radius: 20px;
    }
    .pages__link__1:hover{
        opacity: 0.8;
        padding: 5px;
        background-color: #FF4500;
        border-radius: 20px;
    }
    .pages__link{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        height: 100%;
        background-color: #212121;
        padding: 20px 20px;
        border-radius: 15px;
    }
    .main__center{
        width: 360px;
        height: 960px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        background-color: #212121;
        padding: 0 100px;
        border-radius: 15px;
    }
    .main__center__img__1{
        width: 260px;
        height: 380px;
        margin-top: 20px;
        border-radius: 15px;
        
    }
    
    .main__center__info__offer__1{
        font-weight: 400;
        font-size: 23px;
        opacity: 0.7;
        color: #fff;
       
    }
    .main__center__info__offer{
     padding-top: 20px;
    }
    .main__center__info{
        text-align: center;
        margin-bottom: 60px;
    }
    .main__center__info__name__1{
        font-weight: 600;
        font-size: 33px;
        color: #fff;
    }
    .main__center__info__under{
        padding-top: 0px;
    }
    .main__center__info__under__1{
        font-weight: 800;
        font-size: 23px;
        color: #FF4500;
        
    }
    .main__center__info__offer{
        margin-bottom: 10px;
    }
    .main__center__info__name{
        padding-top: 20px;
    }
    .main__center__info__text{
        width: 300px;
        height: 228px;
        padding-top: 20px;
        color: #fff;
        margin-bottom: 50px;
        text-align: center;
        
    }
    .main__center__info__text__1{
        font-weight: 400;
        font-size: 16px;
        opacity: 0.7;
        line-height: 28px;
        width: 470px;
        height: 128px;
    }
    .main__center__info__button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        margin: 0 auto;
        padding-top: 30px;
        
    }
    .main__center__info__button__left__1,
    .main__center__info__button__right__1{
    text-decoration: none;
    color: white;
    background-color:  #FF4500;;
    padding: 10px 10px;
    border-radius: 8px;
    }
    
    .main__center__info__button__left__1:hover{
        opacity: 0.8;
        
    }
    .main__center__info__button__right__1:hover{
        opacity: 0.8;
        
    }
    .img__button{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        height: 80px;
        width: 340px;
        background-color: #212121;
        padding: 20px 20px;
        margin-top: 40px;
         border-radius: 15px;
         position: relative;
    }
    .img__button__1,
    .img__button__2,
    .img__button__3{
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    font-size: 23px;
    text-align: center;
    }
    .main__right{
        display: flex;
        flex-direction: row;
         background-color: rgba(0, 0, 0, 0.13);
        height: 70px;
        width: 340px;
        border-radius: 15px;
       
    }
    .main__left{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        height: 70px;
        width: 360px;
        padding-bottom: 30px;
    }
    .pages__link{
        width: 400px;
    }
}
